<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DragonNetwork Status</title>
</head>
<body>
	<style type="text/css">
		.dstatusDone { color: #4feb34; }
		.dstatusRunning { color: #ebe134; }
		.dstatusError { color: #eb3434; }
	</style>

	<style type="text/css">
		* { font-family: Microsoft YaHei UI; }
		body { background-color: black; }

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p { color: white; }
	</style>

	<h1>DragonNetwork Status</h1>
	<h2>Alpha v1.0</h2>
	<p>Login <a id="dnetwork-login" class="dstatusError">Major outage</a></p>
	<p>Users <a id="dnetwork-users" class="dstatusError">Major outage</a></p>
	<p>CDN <a id="dnetwork-cdn" class="dstatusError">Major outage</a></p>

	<div class="inclident">
		<h1></h1>
		<p></p>
	</div>
</body>
</html>